.cheakoutproduct {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
}

.cheakoutproduct-image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.cheakoutproduct-info {
  padding-left: 20px;
}

.cheakoutproduct-title {
  font-size: 17px;
  font-weight: 800;
}

.cheakoutproduct-rating {
  display: flex;
}

.cheakoutproduct-info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 2px;
  border-radius: 2px;
}
