.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu-icon {
  color: white;
  margin-left: 10px;
}

.header-logo {
  margin-top: 20px;
  object-fit: contain;
  margin: 0 10px;
  height: 40px;
}

.header-search {
  display: flex;
  flex: 1;
}

.searchbar {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 3px 0 0 3px;
  border: none;
}

.header-search:active {
  border-radius: 4px;
  border: 3px solid #e48c19;
}

.searchicon {
  background-color: #e48c19;
  height: 22px;
  width: 22px;
  padding: 5px;
  border-radius: 0 3px 3px 0;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.line1 {
  font-size: 12px;
}

.line2 {
  font-size: 16px;
  font-weight: 800;
}

.cart {
  display: flex;
  margin-top: 10px;
}

.cart-span {
  margin-right: 10px;
  margin-left: 10px;
}
